* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?l26w0b');
	src:url('../fonts/icomoon.eot?l26w0b#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?l26w0b') format('truetype'),
		url('../fonts/icomoon.woff?l26w0b') format('woff'),
		url('../fonts/icomoon.svg?l26w0b#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	border: 1px solid #838994;
	padding: 0.6em;
	border-radius: 50%;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-instagram:before {
	content: "\e903";
	    color: #3f729b;
}
.icon-twitter:before {
	content: "\e901";
	color: #55acee;
}
.icon-facebook:before {
	content: "\e902";
	color: #4c66a4;
}
.icon-pinterest:before {
	content: "\e904";
}

html,
body {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	-webkit-font-smoothing: antialiased;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 1rem;
}

.group:after {
  content: "";
  display: table;
  clear: both;
}

img {
	width: 100%;
}

li {
	list-style-type: none;
}

figure {
	margin: 0;
}

/*****************************
       Navigation
*****************************/

header {
	height: 70px;
	line-height: 70px;
	position: fixed;
	z-index: 9999;
	background: #fff;
	width: 100%;
}

#logo {
	text-decoration: none;
	font-size: 2em;
	font-weight: bold;
	color: #222; 
	width: 1.625rem;
}

nav {
	float: right;
}

nav li {
	display: none;
}

nav li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #222;
}

nav li a.active {
	color: #4C5058;
	font-weight: 500;
}

/*****************************
       Hero img
*****************************/

section.hero-img {
	background: url("../img/computer-1.jpeg") no-repeat center bottom;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 45.938rem;
  overflow: auto;
}

.content {
	text-align: center;
	color: #fff;
}

section.hero-img h1 {
	margin-top: 17.5rem;
	font-size: 3.175rem;
}

section.hero-img h1, section.hero-img p  {
	font-weight: 300;
	margin-bottom: 0;
}

section.hero-img p {
	margin-top: 1.25rem;
  font-size: 1.563rem;
  font-weight: 100;
}

.buttons {
  text-align: center;
  margin-top: 1.563rem;
}

button {
  width: 9.688rem;
  background-color: #f15a29;
  border-color: #f15a29;
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1.125rem;
}

/*****************************
       Devices
*****************************/

.devices {
	margin-top: 7rem;
	text-align: center;
	color: #1d1e21;
	padding-bottom: 5rem;
	background: #fff;
}

.devices h2 {
  font-size: 2.75rem;
  margin: 1.625rem 0 3.125rem;
  font-weight: 300;
}

.devices figcaption {
	font-weight: 300;
  font-size: 1.563rem;
  margin: 2.5rem 0px 1.875rem;
}

figure {
	margin-bottom: 7rem;
}

figure img {
	display: block;
	margin: 0 auto;
	width: 10rem;
}



/*****************************
       Footer
*****************************/

footer {
	font-weight: 300;
	text-align: center;
	background-color: #fff;
 	overflow: auto;
  padding-bottom: 9.375rem;
}

.social-icons {
	padding: 1rem 0;
}

.social-icons li {
	display: inline-block;
	margin: 0.2rem;
}


/*****************************
       Media Quieres
*****************************/

@media (min-width: 700px) {

	nav li {
		display: inline-block;
		margin-left: 25px;
	}

	nav ul {
		padding-top: 0.5rem;
	}

	ul.group {
		width: 100%;
		margin: 0 auto;
	}

	figure {
		width: 31.33333333333333%;
		float: left;
		margin: 1%;
		text-align: center;
	}

	figure img {
		width: 7.9375rem;
}


}






















